<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.IRCTC_TestNG_Multiple_Tests"/>
      <class name="com.test.DropDown"/>
      <class name="com.test.NewTour_TestNG"/>
      <class name="com.test.Yatra_TestNG"/>
      <class name="com.test.flipKart_TestNG_Test"/>
      <class name="com.test.GooglePage_testNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
